n8n-workflows/graphic-design-automation.json
{
  "name": "GRAPHIC DESIGN AUTOMATION",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "gda-node-01",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-200, 0],
      "parameters": {
        "httpMethod": "POST",
        "path": "graphic-form",
        "options": {}
      },
      "webhookId": "graphic-form-webhook-001"
    },
    {
      "id": "gda-node-02",
      "name": "Extract Doc ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [0, 0],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const filmingPlanUrl = $input.first().json.body.filmingPlans || '';\nconst match = filmingPlanUrl.match(/\\/document\\/d\\/([a-zA-Z0-9_-]+)/);\nif (!match) {\n  throw new Error('No valid Google Doc URL found in filmingPlans field. Got: ' + filmingPlanUrl);\n}\nconst docId = match[1];\nconst exportUrl = `https://docs.google.com/document/d/${docId}/export?format=txt`;\nreturn [{ json: { ...($input.first().json), docId, exportUrl } }];"
      }
    },
    {
      "id": "gda-node-03",
      "name": "Download Filming Plan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [200, 0],
      "parameters": {
        "method": "GET",
        "url": "={{ $json.exportUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      }
    },
    {
      "id": "gda-node-04",
      "name": "Find GRA Project",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [400, 0],
      "parameters": {
        "method": "POST",
        "url": "https://api.linear.app/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"query($teamId: String!, $name: String!) { team(id: $teamId) { projects(filter: { name: { eq: $name } }) { nodes { id name } } } }\",\n  \"variables\": {\n    \"name\": \"{{ $('Webhook').item.json.body.clientName }}\",\n    \"teamId\": \"4789fc53-4e9b-4599-aab8-4e22420931d7\"\n  }\n}\n",
        "options": {}
      }
    },
    {
      "id": "gda-node-05",
      "name": "Create Parent Issue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [600, 0],
      "parameters": {
        "method": "POST",
        "url": "https://api.linear.app/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"mutation($title: String!, $teamId: String!, $description: String, $stateId: String, $projectId: String, $assigneeId: String) { issueCreate(input: { title: $title, teamId: $teamId, description: $description, stateId: $stateId, projectId: $projectId, assigneeId: $assigneeId }) { success issue { id identifier title } } }\",\n  \"variables\": {\n    \"stateId\": \"6ebdc29c-2f9f-4430-a906-fe0a8ff82e64\",\n    \"projectId\": {{ $('Find GRA Project').item.json.data.team.projects.nodes.length > 0 ? '\"' + $('Find GRA Project').item.json.data.team.projects.nodes[0].id + '\"' : 'null' }},\n    \"assigneeId\": \"091b6305-34fd-46ee-b84c-4aeee947c5b8\",\n    \"title\": \"{{ $('Webhook').item.json.body.title }}\",\n    \"teamId\": \"4789fc53-4e9b-4599-aab8-4e22420931d7\",\n    \"description\": \"{{ $('Webhook').item.json.body.notes.replace(/\\\\/g, '\\\\\\\\').replace(/\\\"/g, '\\\\\"').replace(/\\n/g, '\\\\n').replace(/\\r/g, '') }}\"\n  }\n}\n",
        "options": {}
      }
    },
    {
      "id": "gda-node-06",
      "name": "Prepare Video Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 0],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const response = $('Create Parent Issue').item.json;\n\nif (!response?.data?.issueCreate?.issue?.id) {\n  throw new Error('Linear rejected the mutation: ' + JSON.stringify(response));\n}\n\nconst parentIssueId = response.data.issueCreate.issue.id;\nconst videos = $('Webhook').item.json.body.videos;\n\nreturn videos.map(v => ({\n  json: {\n    parentId: parentIssueId,\n    videoNumber: v.number\n  }\n}));"
      }
    },
    {
      "id": "gda-node-07",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1000, 0],
      "parameters": {
        "options": {}
      }
    },
    {
      "id": "gda-node-08",
      "name": "Generate Title with Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1200, 140],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: \"claude-haiku-4-5-20251001\",\n  max_tokens: 60,\n  messages: [{\n    role: \"user\",\n    content: \"You are helping create graphic design task titles for a social media agency.\\n\\nA filming plan describes multiple videos planned for a shoot. Find the entry for Video \" + $json.videoNumber + \" specifically and write a short title (max 8 words) describing what graphic content is needed for that video.\\n\\nOutput only the title, nothing else.\\n\\nFilming plan:\\n\" + ($('Download Filming Plan').item.json.data || 'No filming plan available').slice(0, 3000)\n  }]\n}) }}\n",
        "options": {}
      }
    },
    {
      "id": "gda-node-09",
      "name": "Merge Title and Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 140],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const claudeTitle = $input.item.json.content?.[0]?.text?.trim();\nconst loopItem = $('Loop Over Items').item.json;\nconst fallbackTitle = 'Video ' + loopItem.videoNumber;\nreturn [{\n  json: {\n    parentId: loopItem.parentId,\n    videoNumber: loopItem.videoNumber,\n    generatedTitle: claudeTitle || fallbackTitle\n  }\n}];"
      }
    },
    {
      "id": "gda-node-10",
      "name": "Create Sub-Issue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1600, 140],
      "parameters": {
        "method": "POST",
        "url": "https://api.linear.app/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"mutation($title: String!, $teamId: String!, $parentId: String!, $stateId: String, $sortOrder: Float, $assigneeId: String) { issueCreate(input: { title: $title, teamId: $teamId, parentId: $parentId, stateId: $stateId, sortOrder: $sortOrder, assigneeId: $assigneeId }) { success issue { id title } } }\",\n  \"variables\": {\n    \"stateId\": \"6ebdc29c-2f9f-4430-a906-fe0a8ff82e64\",\n    \"assigneeId\": \"091b6305-34fd-46ee-b84c-4aeee947c5b8\",\n    \"title\": \"{{ $json.generatedTitle }}\",\n    \"teamId\": \"4789fc53-4e9b-4599-aab8-4e22420931d7\",\n    \"parentId\": \"{{ $json.parentId }}\",\n    \"sortOrder\": {{ $json.videoNumber }}\n  }\n}\n",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Extract Doc ID", "type": "main", "index": 0 }]
      ]
    },
    "Extract Doc ID": {
      "main": [
        [{ "node": "Download Filming Plan", "type": "main", "index": 0 }]
      ]
    },
    "Download Filming Plan": {
      "main": [
        [{ "node": "Find GRA Project", "type": "main", "index": 0 }]
      ]
    },
    "Find GRA Project": {
      "main": [
        [{ "node": "Create Parent Issue", "type": "main", "index": 0 }]
      ]
    },
    "Create Parent Issue": {
      "main": [
        [{ "node": "Prepare Video Items", "type": "main", "index": 0 }]
      ]
    },
    "Prepare Video Items": {
      "main": [
        [{ "node": "Loop Over Items", "type": "main", "index": 0 }]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [{ "node": "Generate Title with Claude", "type": "main", "index": 0 }]
      ]
    },
    "Generate Title with Claude": {
      "main": [
        [{ "node": "Merge Title and Metadata", "type": "main", "index": 0 }]
      ]
    },
    "Merge Title and Metadata": {
      "main": [
        [{ "node": "Create Sub-Issue", "type": "main", "index": 0 }]
      ]
    },
    "Create Sub-Issue": {
      "main": [
        [{ "node": "Loop Over Items", "type": "main", "index": 0 }]
      ]
    }
  }
}
