n8n-workflows/weekly-slack-top-reel.json
{
  "name": "Weekly Slack – Top Reel of the Week",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtDay": 1,
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "d4a1f2b3-1a2b-4c3d-8e4f-a1b2c3d4e5f6",
      "name": "Every Monday 9 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "weekly-slack-top-reel",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e5b2a3c4-2b3c-4d4e-9f5a-b2c3d4e5f6a7",
      "name": "Manual Trigger (Webhook)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 540],
      "webhookId": "weekly-slack-top-reel"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "10QQnWOQY73Aj44R8AumYJzFpxMd_bZZiCMXkZ6QqAU8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Clients Info",
          "mode": "name"
        }
      },
      "id": "f6c3b4d5-3c4d-4e5f-af6b-c3d4e5f6a7b8",
      "name": "Read Clients Info",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [300, 400]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "10QQnWOQY73Aj44R8AumYJzFpxMd_bZZiCMXkZ6QqAU8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "TopVideos",
          "mode": "name"
        }
      },
      "id": "a7d4c5e6-4d5e-4f6a-b07c-d4e5f6a7b8c9",
      "name": "Read TopVideos",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [560, 400]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// ──────────────────────────────────────────────\n// Match each client to their #1 weekly reel\n// ──────────────────────────────────────────────\n// Input: TopVideos rows (direct connection)\n// Referenced: Clients Info rows via $('Read Clients Info')\n// Output: one item per client with top reel data\n// If no valid clients, returns empty array (stops flow)\n// ──────────────────────────────────────────────\n\nconst clients = $('Read Clients Info').all().map(i => i.json);\nconst videos  = $input.all().map(i => i.json);\n\nconst results = [];\n\nfor (const c of clients) {\n  const name = c.client_name;\n  const channelId = c.slack_channel_id;\n\n  // Skip clients without a Slack channel configured\n  if (!name || !channelId) continue;\n\n  // Filter weekly videos for this client\n  const clientVids = videos.filter(v =>\n    v.client_name === name &&\n    (v.period || '').toLowerCase().includes('week')\n  );\n\n  if (clientVids.length === 0) continue;\n\n  // Find the latest scrape date for freshness\n  const latestDate = clientVids.reduce((max, v) => {\n    const d = v.scraped_date || '';\n    return d > max ? d : max;\n  }, '');\n\n  // Only use videos from the most recent scrape\n  const fresh = latestDate\n    ? clientVids.filter(v => (v.scraped_date || '') === latestDate)\n    : clientVids;\n\n  // Parse views as number\n  const parseNum = (val) => {\n    if (!val) return 0;\n    return parseInt(String(val).replace(/[^\\d]/g, ''), 10) || 0;\n  };\n\n  // Sort by views descending, pick #1\n  fresh.sort((a, b) => parseNum(b.views || b.view_count || b.play_count) - parseNum(a.views || a.view_count || a.play_count));\n  const top = fresh[0];\n\n  const views = parseNum(top.views || top.view_count || top.play_count);\n  const caption = top.caption || top.title || top.description || top.post_caption || '';\n  const videoUrl = top.video_url || top.url || top.link || top.post_url || '';\n  const platform = (top.platform || 'instagram').toLowerCase();\n  const likes = parseNum(top.likes || top.like_count);\n  const comments = parseNum(top.comments || top.comment_count);\n  const shares = parseNum(top.shares || top.share_count);\n\n  results.push({\n    json: {\n      client_name: name,\n      slack_channel_id: channelId,\n      content_description: c.content_description || '',\n      platform,\n      video_url: videoUrl,\n      caption: caption.substring(0, 500),\n      views,\n      likes,\n      comments,\n      shares,\n      scraped_date: latestDate\n    }\n  });\n}\n\nreturn results;\n"
      },
      "id": "b8e5d6f7-5e6f-4a7b-c18d-e5f6a7b8c9d0",
      "name": "Match Top Reel Per Client",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [820, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $credentials.httpHeaderAuth.value }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 300,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"You are a social media strategist. A client named \\\"{{ $json.client_name }}\\\" creates content about: {{ $json.content_description }}\\n\\nTheir top-performing reel this week got {{ $json.views }} views.\\n\\nPlatform: {{ $json.platform }}\\nCaption: \\\"{{ $json.caption }}\\\"\\nLikes: {{ $json.likes }}\\nComments: {{ $json.comments }}\\nShares: {{ $json.shares }}\\n\\nIn 2-3 concise sentences, explain WHY this reel likely performed so well. Focus on the hook, content angle, or trend it tapped into. Be specific and actionable — this will be sent directly to the client. Do NOT use any markdown formatting, just plain text. Keep it under 280 characters.\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "d0a7f8b9-7a8b-4c9d-e3af-a7b8c9d0e1f2",
      "name": "Claude – Why It Performed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ANTHROPIC_HEADER_AUTH_ID",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// ──────────────────────────────────────────────\n// Format the Slack message\n// ──────────────────────────────────────────────\n\nconst inputItems = $('Match Top Reel Per Client').all();\nconst itemIndex = $itemIndex;\nconst data = inputItems[itemIndex].json;\n\n// Claude API response: { content: [{ text: \"...\" }] }\nconst claudeResp = $json;\nconst analysis = (claudeResp.content && claudeResp.content[0] && claudeResp.content[0].text)\n  || 'Great engagement this week!';\n\nconst fmtNum = (n) => Number(n || 0).toLocaleString('en-US');\nconst views = fmtNum(data.views);\nconst likes = fmtNum(data.likes);\nconst comments = fmtNum(data.comments);\nconst shares = fmtNum(data.shares);\nconst platform = (data.platform || 'instagram').charAt(0).toUpperCase() + (data.platform || 'instagram').slice(1);\nconst videoUrl = data.video_url || '';\n\nconst blocks = [\n  {\n    type: 'header',\n    text: {\n      type: 'plain_text',\n      text: '\\ud83d\\udd25 Top Reel of the Week',\n      emoji: true\n    }\n  },\n  {\n    type: 'section',\n    text: {\n      type: 'mrkdwn',\n      text: `Hey *${data.client_name}* team! Here's your top-performing reel this week:`\n    }\n  },\n  {\n    type: 'section',\n    fields: [\n      { type: 'mrkdwn', text: `*Platform:*\\n${platform}` },\n      { type: 'mrkdwn', text: `*Views:*\\n${views}` },\n      { type: 'mrkdwn', text: `*Likes:*\\n${likes}` },\n      { type: 'mrkdwn', text: `*Comments:*\\n${comments}` },\n      { type: 'mrkdwn', text: `*Shares:*\\n${shares}` }\n    ]\n  },\n  {\n    type: 'section',\n    text: {\n      type: 'mrkdwn',\n      text: `*Caption:*\\n>${data.caption ? data.caption.substring(0, 200) : 'N/A'}`\n    }\n  },\n  { type: 'divider' },\n  {\n    type: 'section',\n    text: {\n      type: 'mrkdwn',\n      text: `*Why it performed well:*\\n${analysis}`\n    }\n  }\n];\n\nif (videoUrl && videoUrl !== '#') {\n  blocks.push({\n    type: 'actions',\n    elements: [\n      {\n        type: 'button',\n        text: {\n          type: 'plain_text',\n          text: '\\u25b6\\ufe0f Watch Reel',\n          emoji: true\n        },\n        url: videoUrl,\n        action_id: 'watch_reel'\n      }\n    ]\n  });\n}\n\nreturn {\n  json: {\n    slack_channel_id: data.slack_channel_id,\n    client_name: data.client_name,\n    text: `Top reel of the week for ${data.client_name}: ${views} views`,\n    blocks: JSON.stringify(blocks)\n  }\n};\n"
      },
      "id": "e1b8a9c0-8b9c-4d0e-f4ba-b8c9d0e1f2a3",
      "name": "Format Slack Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, 400]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $json.slack_channel_id }}",
          "mode": "id"
        },
        "text": "={{ $json.text }}",
        "blocksUi": "={{ $json.blocks }}",
        "otherOptions": {
          "unfurl_links": false,
          "unfurl_media": true
        }
      },
      "id": "f2c9b0d1-9c0d-4e1f-a5cb-c9d0e1f2a3b4",
      "name": "Send Slack Message",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1620, 400],
      "credentials": {
        "slackApi": {
          "id": "SLACK_CREDENTIAL_ID",
          "name": "Slack Bot"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"Weekly Slack updates sent\" }",
        "options": {}
      },
      "id": "a3d0c1e2-0d1e-4f2a-b6dc-d0e1f2a3b4c5",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1880, 400]
    }
  ],
  "connections": {
    "Every Monday 9 AM": {
      "main": [
        [
          { "node": "Read Clients Info", "type": "main", "index": 0 }
        ]
      ]
    },
    "Manual Trigger (Webhook)": {
      "main": [
        [
          { "node": "Read Clients Info", "type": "main", "index": 0 }
        ]
      ]
    },
    "Read Clients Info": {
      "main": [
        [
          { "node": "Read TopVideos", "type": "main", "index": 0 }
        ]
      ]
    },
    "Read TopVideos": {
      "main": [
        [
          { "node": "Match Top Reel Per Client", "type": "main", "index": 0 }
        ]
      ]
    },
    "Match Top Reel Per Client": {
      "main": [
        [
          { "node": "Claude – Why It Performed", "type": "main", "index": 0 }
        ]
      ]
    },
    "Claude – Why It Performed": {
      "main": [
        [
          { "node": "Format Slack Message", "type": "main", "index": 0 }
        ]
      ]
    },
    "Format Slack Message": {
      "main": [
        [
          { "node": "Send Slack Message", "type": "main", "index": 0 }
        ]
      ]
    },
    "Send Slack Message": {
      "main": [
        [
          { "node": "Webhook Response", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "pinData": {},
  "tags": []
}