n8n-workflows/weekly-slack-top-reel.json
{
  "name": "Weekly Slack – Top Reel of the Week",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtDay": 1,
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every Monday 9 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://synchrosocial.app.n8n.cloud/webhook/weekly-slack-top-reel",
        "options": {}
      },
      "id": "manual-webhook",
      "name": "Manual Trigger (Webhook)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 200],
      "webhookId": "weekly-slack-top-reel"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "10QQnWOQY73Aj44R8AumYJzFpxMd_bZZiCMXkZ6QqAU8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Clients Info",
          "mode": "name"
        }
      },
      "id": "read-clients",
      "name": "Read Clients Info",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [300, 100],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "10QQnWOQY73Aj44R8AumYJzFpxMd_bZZiCMXkZ6QqAU8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "TopVideos",
          "mode": "name"
        }
      },
      "id": "read-top-videos",
      "name": "Read TopVideos",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [300, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// ──────────────────────────────────────────────\n// Match each client to their #1 weekly reel\n// ──────────────────────────────────────────────\n// This node receives the Clients Info rows on the main input\n// and the TopVideos rows on the second input (index 1).\n//\n// For each client that has a slack_channel_id, it finds the\n// top-performing weekly reel (highest views) and outputs\n// one item per client with the reel data attached.\n// ──────────────────────────────────────────────\n\nconst clients = $input.all();    // from \"Read Clients Info\"\nconst videos  = $('Read TopVideos').all().map(i => i.json);\n\nconst results = [];\n\nfor (const clientItem of clients) {\n  const c = clientItem.json;\n  const name = c.client_name;\n  const channelId = c.slack_channel_id;\n\n  // Skip clients without a Slack channel configured\n  if (!name || !channelId) continue;\n\n  // Filter weekly videos for this client (Instagram reels)\n  const clientVids = videos.filter(v =>\n    v.client_name === name &&\n    (v.period || '').toLowerCase().includes('week')\n  );\n\n  if (clientVids.length === 0) continue;\n\n  // Find the latest scrape date for freshness\n  const latestDate = clientVids.reduce((max, v) => {\n    const d = v.scraped_date || '';\n    return d > max ? d : max;\n  }, '');\n\n  // Only use videos from the most recent scrape\n  const fresh = latestDate\n    ? clientVids.filter(v => (v.scraped_date || '') === latestDate)\n    : clientVids;\n\n  // Parse views as number\n  const parseNum = (val) => {\n    if (!val) return 0;\n    return parseInt(String(val).replace(/[^\\d]/g, ''), 10) || 0;\n  };\n\n  // Sort by views descending, pick #1\n  fresh.sort((a, b) => parseNum(b.views || b.view_count || b.play_count) - parseNum(a.views || a.view_count || a.play_count));\n  const top = fresh[0];\n\n  const views = parseNum(top.views || top.view_count || top.play_count);\n  const caption = top.caption || top.title || top.description || top.post_caption || '';\n  const videoUrl = top.video_url || top.url || top.link || top.post_url || '';\n  const platform = (top.platform || 'instagram').toLowerCase();\n  const likes = parseNum(top.likes || top.like_count);\n  const comments = parseNum(top.comments || top.comment_count);\n  const shares = parseNum(top.shares || top.share_count);\n\n  results.push({\n    json: {\n      client_name: name,\n      slack_channel_id: channelId,\n      content_description: c.content_description || '',\n      platform,\n      video_url: videoUrl,\n      caption: caption.substring(0, 500),\n      views,\n      likes,\n      comments,\n      shares,\n      scraped_date: latestDate\n    }\n  });\n}\n\nreturn results.length > 0 ? results : [{ json: { _skip: true } }];\n"
      },
      "id": "match-top-reel",
      "name": "Match Top Reel Per Client",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 100]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "filter-skip",
              "leftValue": "={{ $json._skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEqual"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-valid",
      "name": "Filter Valid Clients",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [800, 100]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-sonnet-4-20250514",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a social media strategist. A client named \"{{ $json.client_name }}\" creates content about: {{ $json.content_description }}\n\nTheir top-performing reel this week got {{ $json.views.toLocaleString() }} views.\n\nPlatform: {{ $json.platform }}\nCaption: \"{{ $json.caption }}\"\nLikes: {{ $json.likes.toLocaleString() }}\nComments: {{ $json.comments.toLocaleString() }}\nShares: {{ $json.shares.toLocaleString() }}\n\nIn 2-3 concise sentences, explain WHY this reel likely performed so well. Focus on the hook, content angle, or trend it tapped into. Be specific and actionable — this will be sent directly to the client. Do NOT use any markdown formatting, just plain text. Keep it under 280 characters.",
              "role": "user"
            }
          ]
        },
        "options": {
          "maxTokensToSample": 300,
          "temperature": 0.7
        }
      },
      "id": "claude-analysis",
      "name": "Claude – Why It Performed",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [1050, 100],
      "credentials": {
        "anthropicApi": {
          "id": "ANTHROPIC_CREDENTIAL_ID",
          "name": "Anthropic"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// ──────────────────────────────────────────────\n// Format the Slack message\n// ──────────────────────────────────────────────\n\nconst data = $('Filter Valid Clients').item.json;\nconst analysis = $json.message?.content || $json.response?.text || $json.text || 'Great engagement this week!';\n\nconst views = Number(data.views || 0).toLocaleString('en-US');\nconst likes = Number(data.likes || 0).toLocaleString('en-US');\nconst comments = Number(data.comments || 0).toLocaleString('en-US');\nconst shares = Number(data.shares || 0).toLocaleString('en-US');\nconst platform = (data.platform || 'instagram').charAt(0).toUpperCase() + (data.platform || 'instagram').slice(1);\nconst videoUrl = data.video_url || '';\n\nconst blocks = [\n  {\n    type: 'header',\n    text: {\n      type: 'plain_text',\n      text: `\\u{1F525} Top Reel of the Week`,\n      emoji: true\n    }\n  },\n  {\n    type: 'section',\n    text: {\n      type: 'mrkdwn',\n      text: `Hey *${data.client_name}* team! Here's your top-performing reel this week:`\n    }\n  },\n  {\n    type: 'section',\n    fields: [\n      { type: 'mrkdwn', text: `*Platform:*\\n${platform}` },\n      { type: 'mrkdwn', text: `*Views:*\\n${views}` },\n      { type: 'mrkdwn', text: `*Likes:*\\n${likes}` },\n      { type: 'mrkdwn', text: `*Comments:*\\n${comments}` },\n      { type: 'mrkdwn', text: `*Shares:*\\n${shares}` }\n    ]\n  },\n  {\n    type: 'section',\n    text: {\n      type: 'mrkdwn',\n      text: `*Caption:*\\n>${data.caption ? data.caption.substring(0, 200) : 'N/A'}`\n    }\n  },\n  {\n    type: 'divider'\n  },\n  {\n    type: 'section',\n    text: {\n      type: 'mrkdwn',\n      text: `*Why it performed well:*\\n${analysis}`\n    }\n  }\n];\n\n// Add video link button if available\nif (videoUrl && videoUrl !== '#') {\n  blocks.push({\n    type: 'actions',\n    elements: [\n      {\n        type: 'button',\n        text: {\n          type: 'plain_text',\n          text: `\\u{25B6}\\u{FE0F} Watch Reel`,\n          emoji: true\n        },\n        url: videoUrl,\n        action_id: 'watch_reel'\n      }\n    ]\n  });\n}\n\nreturn {\n  json: {\n    slack_channel_id: data.slack_channel_id,\n    client_name: data.client_name,\n    text: `Top reel of the week for ${data.client_name}: ${views} views`,\n    blocks: JSON.stringify(blocks)\n  }\n};\n"
      },
      "id": "format-slack-message",
      "name": "Format Slack Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 100]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $json.slack_channel_id }}",
          "mode": "id"
        },
        "text": "={{ $json.text }}",
        "blocksUi": "={{ $json.blocks }}",
        "otherOptions": {
          "unfurl_links": false,
          "unfurl_media": true
        }
      },
      "id": "slack-send",
      "name": "Send Slack Message",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1550, 100],
      "credentials": {
        "slackApi": {
          "id": "SLACK_CREDENTIAL_ID",
          "name": "Slack Bot"
        }
      }
    }
  ],
  "connections": {
    "Every Monday 9 AM": {
      "main": [
        [
          { "node": "Read Clients Info", "type": "main", "index": 0 },
          { "node": "Read TopVideos", "type": "main", "index": 0 }
        ]
      ]
    },
    "Manual Trigger (Webhook)": {
      "main": [
        [
          { "node": "Read Clients Info", "type": "main", "index": 0 },
          { "node": "Read TopVideos", "type": "main", "index": 0 }
        ]
      ]
    },
    "Read Clients Info": {
      "main": [
        [
          { "node": "Match Top Reel Per Client", "type": "main", "index": 0 }
        ]
      ]
    },
    "Read TopVideos": {
      "main": [
        [
          { "node": "Match Top Reel Per Client", "type": "main", "index": 0 }
        ]
      ]
    },
    "Match Top Reel Per Client": {
      "main": [
        [
          { "node": "Filter Valid Clients", "type": "main", "index": 0 }
        ]
      ]
    },
    "Filter Valid Clients": {
      "main": [
        [
          { "node": "Claude – Why It Performed", "type": "main", "index": 0 }
        ]
      ]
    },
    "Claude – Why It Performed": {
      "main": [
        [
          { "node": "Format Slack Message", "type": "main", "index": 0 }
        ]
      ]
    },
    "Format Slack Message": {
      "main": [
        [
          { "node": "Send Slack Message", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "pinData": {},
  "tags": [
    {
      "name": "slack",
      "id": "slack-tag"
    },
    {
      "name": "weekly",
      "id": "weekly-tag"
    }
  ]
}