n8n-backups/ai-onboarding-submit.2026-06-28.created.json
{
  "_snapshot_note": "Net-new workflow created 2026-06-28 for the SyncView AI-funnel onboarding form (/ai_onboarding_form). POST /webhook/ai-onboarding-submit. Clone of onboarding-submit (ljNY7CKYLKzMOACZ) pointed at Supabase ai_client_onboarding, with Build Row adding funnel:'ai' / source:'syncview-ai-onboarding' / ai_avatar default 'yes'. Created + ACTIVATED via n8n SDK. Supabase cred 'Supabase - SyncView Calendar' (XdBpJ6Xk8PMpZXXT); Slack cred 'SyncView Bot' (qUlAcjdhd6EpKOTL). The ONLY remaining finish step is running ai-onboarding-supabase-migration.sql to create the table — see ONBOARDING_FORM.md. Snapshot for the repo record / rollback (per the n8n-backups convention). Workflow id hxLFIdKG9hUIzukO.",
  "id": "hxLFIdKG9hUIzukO",
  "name": "SyncView AI Onboarding — Submit",
  "active": true,
  "description": "POST /webhook/ai-onboarding-submit. Body {submission}. Inserts the AI-funnel onboarding submission into Supabase ai_client_onboarding (service role) and DMs Sidney on Slack. Supabase write gates the 200 so a submission is never silently lost. Clone of onboarding-submit for the /ai_onboarding_form funnel.",
  "settings": { "executionOrder": "v1", "availableInMCP": true },
  "connections": {
    "Receive POST": { "main": [[{ "node": "Build Row", "type": "main", "index": 0 }]] },
    "Build Row": { "main": [[{ "node": "Insert Submission", "type": "main", "index": 0 }]] },
    "Insert Submission": { "main": [[{ "node": "Notify Sidney", "type": "main", "index": 0 }]] },
    "Notify Sidney": { "main": [[{ "node": "Respond JSON", "type": "main", "index": 0 }]] }
  },
  "nodes": [
    {
      "name": "Receive POST",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-onboarding-submit",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      }
    },
    {
      "name": "Build Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [224, 0],
      "parameters": {
        "jsCode": "const body = ($input.first() && $input.first().json && $input.first().json.body) || {};\nconst s = body.submission || {};\nconst email = String(s.email || '').trim();\nif (!email) throw new Error('email required');\nlet id = String(s.id || '').trim();\nif (!id) { id = 'o_' + Date.now().toString(36) + '_' + Math.random().toString(36).slice(2,8); }\nconst now = new Date().toISOString();\nconst row = {\n  id,\n  slug: String(s.slug || '').trim(),\n  first_name: String(s.first_name || '').trim(),\n  last_name: String(s.last_name || '').trim(),\n  email,\n  phone: String(s.phone || '').trim(),\n  ai_avatar: String(s.ai_avatar || 'yes').trim(),\n  funnel: String(s.funnel || 'ai').trim(),\n  answers: (s.answers && typeof s.answers === 'object') ? s.answers : {},\n  status: 'submitted',\n  source: String(s.source || 'syncview-ai-onboarding'),\n  created_at: String(s.created_at || now),\n  updated_at: now\n};\nreturn [{ json: row }];"
      }
    },
    {
      "name": "Insert Submission",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [448, 0],
      "parameters": {
        "resource": "row",
        "operation": "create",
        "tableId": "ai_client_onboarding",
        "dataToSend": "autoMapInputData"
      },
      "_credential": "supabaseApi → 'Supabase - SyncView Calendar' (XdBpJ6Xk8PMpZXXT)"
    },
    {
      "name": "Notify Sidney",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [672, 0],
      "onError": "continueRegularOutput",
      "parameters": {
        "resource": "message",
        "operation": "post",
        "authentication": "accessToken",
        "select": "user",
        "user": { "__rl": true, "mode": "id", "value": "U0ACW93FS30" },
        "messageType": "text",
        "text": "=🤖 *New AI avatar onboarding submitted!*\n\n*Name:* {{ $(\"Receive POST\").item.json.body.submission.first_name }} {{ $(\"Receive POST\").item.json.body.submission.last_name }}\n*Email:* {{ $(\"Receive POST\").item.json.body.submission.email }}\n*Phone:* {{ $(\"Receive POST\").item.json.body.submission.phone }}\n\nSaved to Supabase `ai_client_onboarding` (id `{{ $(\"Build Row\").item.json.id }}`). Full answers + AI avatar brief + credentials are in that record.",
        "otherOptions": { "includeLinkToWorkflow": false }
      },
      "_credential": "slackApi → 'SyncView Bot' (qUlAcjdhd6EpKOTL)"
    },
    {
      "name": "Respond JSON",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [880, 0],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": true, \"id\": $(\"Build Row\").item.json.id } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Cache-Control", "value": "no-store" }
            ]
          }
        }
      }
    }
  ]
}
