n8n-backups/calendar-reorder.2026-06-14.pre-mirror.json
{
  "_backup_note": "Snapshot of SyncView Calendar — Reorder (OXd0sUoSJYMspGTF) LIVE/ACTIVE version taken 2026-06-14, before adding a Supabase mirror onto the per-row update loop (doc option b). This is the per-row 'Fan Out Reorder Items -> Update Order Index' version — activeVersionId 8a591214-b324-4b3e-acef-d888b0343d79, verified current via get_workflow_details on 2026-06-14 (matches calendar-reorder.2026-06-10.pre-batch.json). The workflow ALSO carries a divergent UNPUBLISHED batched draft (versionId 188e6149) — the mirror is being rebuilt on THIS per-row active version WITHOUT publishing that batched draft. Restore = recreate these nodes/connections (webhook path calendar-reorder). No Linear key present in this workflow.",
  "name": "SyncView Calendar — Reorder",
  "id": "OXd0sUoSJYMspGTF",
  "activeVersionId": "8a591214-b324-4b3e-acef-d888b0343d79",
  "divergentDraftVersionId": "188e6149-e0ee-4c48-9308-513dc2b88240",
  "connections": {"Receive POST":{"main":[[{"node":"Fan Out Reorder Items","type":"main","index":0}]]},"Fan Out Reorder Items":{"main":[[{"node":"Strip Routing","type":"main","index":0}]]},"Strip Routing":{"main":[[{"node":"Update Order Index","type":"main","index":0}]]},"Update Order Index":{"main":[[{"node":"Wrap Response","type":"main","index":0}]]},"Wrap Response":{"main":[[{"node":"Respond JSON","type":"main","index":0}]]}},
  "nodes": [
    {"id":"f183bcad-a118-4bc8-af39-8025c0164807","name":"Receive POST","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"parameters":{"httpMethod":"POST","path":"calendar-reorder","responseMode":"responseNode","options":{"allowedOrigins":"*"}},"webhookId":"596831b6-6776-4694-9f88-e116a9ff6ffe"},
    {"id":"240e0613-3df6-4638-bffb-29a84425f707","name":"Fan Out Reorder Items","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0],"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const body = ($input.first() && $input.first().json && $input.first().json.body) || {};\nconst client = String(body.client || '').trim();\nif (!client) throw new Error('client required');\nconst items = Array.isArray(body.items) ? body.items : [];\nif (items.length === 0) throw new Error('items[] required');\nconst sheetName = 'Calendar_' + client;\nconst now = new Date().toISOString();\nreturn items.map(it => {\n  const id = String(it.id || '').trim();\n  if (!id) throw new Error('every item needs an id');\n  const order_index = Number(it.order_index);\n  if (!Number.isFinite(order_index)) throw new Error('every item needs a numeric order_index');\n  return { json: { id, order_index: String(order_index), updated_at: now, _sheetName: sheetName, _client: client } };\n});\n"}},
    {"id":"16561e21-2508-45e3-82e9-5ef6428e8ab7","name":"Strip Routing","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,0],"parameters":{"mode":"runOnceForEachItem","language":"javaScript","jsCode":"const j = $input.item.json;\nconst out = {};\nfor (const k of Object.keys(j)) {\n  if (k.charAt(0) === '_') continue;\n  out[k] = j[k];\n}\nreturn { json: out };"}},
    {"id":"3c2e0149-9f5b-4bdc-ac0a-6fa730e26456","name":"Update Order Index","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[672,0],"parameters":{"resource":"sheet","operation":"update","documentId":{"__rl":true,"mode":"id","value":"1Gsn5xLImJyMhBMCNjK_tigpoUfcSFnvxTQLkk-A9Yps"},"sheetName":{"__rl":true,"mode":"name","value":"={{ $(\"Fan Out Reorder Items\").item.json._sheetName }}"},"columns":{"mappingMode":"autoMapInputData","matchingColumns":["id"],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"cellFormat":"RAW","handlingExtraData":"ignoreIt"}}},
    {"id":"24d585b4-7d0e-4888-99b3-de6e19f0d759","name":"Wrap Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[896,0],"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const items = $input.all();\nreturn [{ json: { ok: true, updated: items.length } }];\n"}},
    {"id":"9745fa3f-fac6-4de2-aa49-3524d0d4e4fa","name":"Respond JSON","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"parameters":{"options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"},{"name":"Cache-Control","value":"no-store"}]}}}}
  ]
}
