n8n-backups/calendar-reorder-batch.2026-06-12.pre-supabase.json
{
  "_backup_note": "Snapshot of SyncView Calendar — Reorder (batch) (lTtZNLrQLpIZqwAY) taken 2026-06-12 during Phase 1 prep of the Sheets→Supabase realtime migration (CALENDAR_REALTIME_MIGRATION.md), before any workflow edits. WRITES to Calendar_<slug>: order_index + updated_at cells via one values:batchUpdate (3 fixed Google API calls: header row → id column → batchUpdate). Unknown ids skipped (phantom-row guard). On the Phase 1 dual-write list. Uses the googleSheetsOAuth2Api credential via predefined-credential HTTP nodes — no inline secrets. n8n cloud's own workflow version history is the authoritative rollback path.",
  "name": "SyncView Calendar — Reorder (batch)",
  "id": "lTtZNLrQLpIZqwAY",
  "activeVersionId": "de17b09c-8cd3-4ad7-83d2-58de82f1c10d",
  "connections": {
    "Receive POST": { "main": [[{ "node": "Validate & Plan", "type": "main", "index": 0 }]] },
    "Validate & Plan": { "main": [[{ "node": "Read Header Row", "type": "main", "index": 0 }]] },
    "Read Header Row": { "main": [[{ "node": "Find Columns", "type": "main", "index": 0 }]] },
    "Find Columns": { "main": [[{ "node": "Read Id Column", "type": "main", "index": 0 }]] },
    "Read Id Column": { "main": [[{ "node": "Build BatchUpdate", "type": "main", "index": 0 }]] },
    "Build BatchUpdate": { "main": [[{ "node": "Anything To Write?", "type": "main", "index": 0 }]] },
    "Anything To Write?": { "main": [[{ "node": "BatchUpdate Cells", "type": "main", "index": 0 }], [{ "node": "Wrap Response", "type": "main", "index": 0 }]] },
    "BatchUpdate Cells": { "main": [[{ "node": "Wrap Response", "type": "main", "index": 0 }]] },
    "Wrap Response": { "main": [[{ "node": "Respond JSON", "type": "main", "index": 0 }]] }
  },
  "nodes": [
    {
      "id": "7128a008-f146-4f1e-98d0-30986e46cf40",
      "name": "Receive POST",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "parameters": {
        "httpMethod": "POST",
        "path": "calendar-reorder-batch",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "webhookId": "011be292-d43e-4be5-9952-632a4f370074"
    },
    {
      "id": "efb810a8-bf90-4688-b8a6-359e4d795a92",
      "name": "Validate & Plan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const body = ($input.first() && $input.first().json && $input.first().json.body) || {};\nconst client = String(body.client || '').trim();\nif (!client || !/^[A-Za-z0-9&_-]{1,80}$/.test(client)) throw new Error('valid client required');\nconst items = Array.isArray(body.items) ? body.items : [];\nif (items.length === 0) throw new Error('items[] required');\nconst clean = items.map(it => {\n  const id = String(it.id || '').trim();\n  if (!id) throw new Error('every item needs an id');\n  const order_index = Number(it.order_index);\n  if (!Number.isFinite(order_index)) throw new Error('every item needs a numeric order_index');\n  return { id, order_index };\n});\nconst sheetName = 'Calendar_' + client;\nconst base = 'https://sheets.googleapis.com/v4/spreadsheets/1Gsn5xLImJyMhBMCNjK_tigpoUfcSFnvxTQLkk-A9Yps';\nreturn [{ json: {\n  sheetName,\n  items: clean,\n  now: new Date().toISOString(),\n  headersUrl: base + '/values/' + encodeURIComponent(\"'\" + sheetName + \"'!1:1\"),\n  base\n} }];\n"
      }
    },
    {
      "id": "8a31d2c7-b9b1-41cb-9256-7bbd7cdafe01",
      "name": "Read Header Row",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [440, 0],
      "parameters": {
        "method": "GET",
        "url": "={{ $json.headersUrl }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api"
      }
    },
    {
      "id": "00021de1-deb8-4b13-9832-d73640ac6821",
      "name": "Find Columns",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const plan = $('Validate & Plan').first().json;\nconst resp = $input.first().json || {};\nconst headers = ((resp.values || [])[0] || []).map(h => String(h || '').trim());\nif (!headers.length) throw new Error('sheet ' + plan.sheetName + ' has no header row');\nconst colA1 = (i) => { let s = ''; i += 1; while (i > 0) { const m = (i - 1) % 26; s = String.fromCharCode(65 + m) + s; i = Math.floor((i - 1) / 26); } return s; };\nconst idIdx = headers.indexOf('id');\nconst orderIdx = headers.indexOf('order_index');\nconst updatedIdx = headers.indexOf('updated_at');\nif (idIdx < 0) throw new Error('no id column in ' + plan.sheetName);\nif (orderIdx < 0) throw new Error('no order_index column in ' + plan.sheetName);\nconst idCol = colA1(idIdx);\nreturn [{ json: {\n  idColUrl: plan.base + '/values/' + encodeURIComponent(\"'\" + plan.sheetName + \"'!\" + idCol + ':' + idCol),\n  orderCol: colA1(orderIdx),\n  updatedCol: updatedIdx >= 0 ? colA1(updatedIdx) : null\n} }];\n"
      }
    },
    {
      "id": "c0c479b3-3d88-4bb2-b205-74d42998d0fe",
      "name": "Read Id Column",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [880, 0],
      "parameters": {
        "method": "GET",
        "url": "={{ $json.idColUrl }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api"
      }
    },
    {
      "id": "a57d7837-9fec-4292-8d22-1d673233cf28",
      "name": "Build BatchUpdate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 0],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const plan = $('Validate & Plan').first().json;\nconst cols = $('Find Columns').first().json;\nconst resp = $input.first().json || {};\nconst colVals = resp.values || [];\nconst rowById = new Map();\nfor (let i = 1; i < colVals.length; i++) {\n  const v = String((colVals[i] || [])[0] || '').trim();\n  if (v && !rowById.has(v)) rowById.set(v, i + 1);\n}\nconst data = [];\nconst skipped = [];\nfor (const it of plan.items) {\n  const row = rowById.get(it.id);\n  if (!row) { skipped.push(it.id); continue; }\n  data.push({ range: \"'\" + plan.sheetName + \"'!\" + cols.orderCol + row, values: [[String(it.order_index)]] });\n  if (cols.updatedCol) data.push({ range: \"'\" + plan.sheetName + \"'!\" + cols.updatedCol + row, values: [[plan.now]] });\n}\nreturn [{ json: {\n  url: plan.base + '/values:batchUpdate',\n  payload: { valueInputOption: 'RAW', data },\n  updated: plan.items.length - skipped.length,\n  skipped,\n  hasWrites: data.length > 0\n} }];\n"
      }
    },
    {
      "id": "18c4c1d4-c6cd-4d59-9b9b-8ea895162042",
      "name": "Anything To Write?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1320, 0],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            { "leftValue": "={{ $json.hasWrites }}", "operator": { "type": "boolean", "operation": "true" } }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "76a1c25b-e4df-444d-ae02-ce722d263819",
      "name": "BatchUpdate Cells",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1540, -80],
      "parameters": {
        "method": "POST",
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.payload) }}",
        "options": { "timeout": 30000 }
      }
    },
    {
      "id": "96ff59a4-f85d-424f-945e-9098bcee40b8",
      "name": "Wrap Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 0],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const b = $('Build BatchUpdate').first().json;\nreturn [{ json: { ok: true, updated: b.updated, skipped: b.skipped } }];\n"
      }
    },
    {
      "id": "91b9ec8c-7066-4616-b4eb-fc70fde73e1c",
      "name": "Respond JSON",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1980, 0],
      "parameters": {
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Cache-Control", "value": "no-store" }
            ]
          }
        }
      }
    },
    {
      "id": "f0b11336-7a44-432e-bc4b-3d64914101fd",
      "name": "Sticky Note 1bbf9fe9",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-50, -130],
      "parameters": {
        "content": "## SyncView Calendar — Reorder (batch)\n\nPOST /webhook/calendar-reorder-batch — body `{ client, items: [{id, order_index}, …] }` (same contract as calendar-reorder).\n\nRewrites all order_index (+ updated_at) cells in ONE values:batchUpdate call — 3 fixed Google API calls total (header row → id column → batchUpdate) instead of one Sheets update per row. A 20-card drag: ~20 sequential calls → 3.\n\n- Unknown ids are skipped and reported in `skipped` — same phantom-row guard as the original (no append, ever).\n- Missing order_index column → error → FE rolls the drag back.\n- Responds AFTER the write completes, so the FE serialized-reorder funnel stays race-free.\n\nThe original \"SyncView Calendar — Reorder\" workflow stays live as the FE fallback. Pre-change snapshot of it: repo n8n-backups/calendar-reorder.2026-06-10.pre-batch.json",
        "color": 4,
        "width": 2280,
        "height": 280
      }
    }
  ]
}
