n8n-backups/calendar-upsert-post.2026-06-11.pre-guards.json
{
  "_backup_note": "Snapshot of SyncView Calendar — Upsert Post (pWSqaqVw7dmqhYOA) taken 2026-06-11 before adding the duplicate-Linear-link guard, the stale-save conflict guard, and the __CLEAR_LINK__ sentinel. Restore by recreating these nodes/connections (path calendar-upsert-post). Context: two SMMs editing Dr. Sonia Chopra's calendar concurrently clobbered each other's full-card saves, and a second card got linked to an already-linked Linear issue (VID-12598), which the FE dedupe then hid — cards appeared to vanish and swap titles/dates.",
  "name": "SyncView Calendar — Upsert Post",
  "id": "pWSqaqVw7dmqhYOA",
  "activeVersionId": "ea9e74cc-8eac-4d70-a131-515afab1faff",
  "connections": {"Receive POST":{"main":[[{"node":"Build Row From Patch","type":"main","index":0}]]},"Build Row From Patch":{"main":[[{"node":"Read Existing Row","type":"main","index":0}]]},"Read Existing Row":{"main":[[{"node":"Merge Comments","type":"main","index":0}]]},"Merge Comments":{"main":[[{"node":"Strip Routing","type":"main","index":0}]]},"Strip Routing":{"main":[[{"node":"Upsert Calendar Row","type":"main","index":0}]]},"Upsert Calendar Row":{"main":[[{"node":"Wrap Response","type":"main","index":0}]]},"Wrap Response":{"main":[[{"node":"Respond JSON","type":"main","index":0}]]}},
  "nodes": [
    {"id":"2c07a715-2a95-4b87-82e2-676bf1633faf","name":"Receive POST","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"parameters":{"httpMethod":"POST","path":"calendar-upsert-post","responseMode":"responseNode","options":{"allowedOrigins":"*"}},"webhookId":"b7d1640b-1f23-4956-88f1-d70fd119dfc3"},
    {"id":"f053d7a1-29b2-481a-b329-eeba15d19c86","name":"Build Row From Patch","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0],"parameters":{"jsCode":"const ALLOWED = [\n  'order_index','scheduled_date','name','asset_url','thumbnail_url',\n  'caption','caption_alt','caption_alt_platform','post_url','cta','tweaks','status','linear_issue_id',\n  'kasper_approved_at','posted_at','platform','platforms','color',\n  'video_status','graphic_status','caption_status',\n  'graphic_linear_issue_id',\n  'video_tweaks','graphic_tweaks','caption_tweaks',\n    'client_video_approved_at','client_graphic_approved_at','client_caption_approved_at',\n  'kasper_seen','kasper_approved_after_tweaks'\n];\nconst body = ($input.first() && $input.first().json && $input.first().json.body) || {};\nconst client = String(body.client || '').trim();\nif (!client) throw new Error('client required');\nconst post = body.post || {};\nlet id = String(post.id || '').trim();\nif (!id) {\n  id = 'p_' + Date.now().toString(36) + '_' + Math.random().toString(36).slice(2,8);\n}\nconst row = { id, updated_at: new Date().toISOString() };\nfor (const k of ALLOWED) {\n  if (Object.prototype.hasOwnProperty.call(post, k)) {\n    const v = post[k];\n    row[k] = v == null ? '' : String(v);\n  }\n}\nconst baseAt = String(body.comments_base_at || '');\nreturn [{ json: { ...row, _sheetName: 'Calendar_' + client, _client: client, _baseAt: baseAt } }];"}},
    {"id":"f21d613d-b8ac-4cb3-b7c2-8e58062a9f9c","name":"Read Existing Row","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[448,0],"parameters":{"documentId":{"__rl":true,"mode":"id","value":"1Gsn5xLImJyMhBMCNjK_tigpoUfcSFnvxTQLkk-A9Yps"},"sheetName":{"__rl":true,"mode":"name","value":"={{ $(\"Build Row From Patch\").item.json._sheetName }}"},"filtersUI":{"values":[{"lookupColumn":"id","lookupValue":"={{ $(\"Build Row From Patch\").item.json.id }}"}]},"options":{}},"alwaysOutputData":true,"onError":"continueRegularOutput"},
    {"id":"781218cf-ea26-46a3-80e6-1896324dfbbf","name":"Merge Comments","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,0],"parameters":{"jsCode":"const incoming = $('Build Row From Patch').first().json;\nconst existingArr = $input.all();\nconst existing = (existingArr[0] && existingArr[0].json) || {};\n\n// Phantom-row guard: if no existing row AND the incoming payload has no\n// substantive content fields, abort. This blocks the misrouted-skeleton\n// bug pattern where the FE accidentally calls upsert with a stale id and\n// no real fields, causing Sheets appendOrUpdate to create an empty ghost\n// row in the wrong tab. Real creates always include at least one of:\n// caption / caption_alt / name / asset_url / thumbnail_url /\n// linear_issue_id / scheduled_date / cta / color / platforms /\n// graphic_linear_issue_id.\nconst existsAlready = !!(existing && existing.id);\nconst CONTENT_FIELDS = ['caption','caption_alt','name','asset_url','thumbnail_url','linear_issue_id','scheduled_date','cta','color','platforms','graphic_linear_issue_id'];\nconst hasContent = CONTENT_FIELDS.some(k => String(incoming[k] == null ? '' : incoming[k]).trim() !== '');\nif (!existsAlready && !hasContent) {\n  throw new Error('phantom-row guard: refusing to create a row in ' + (incoming._sheetName || '?') + ' with id ' + incoming.id + ' because the row does not exist and the payload contains no substantive content fields. This is the misrouted-skeleton pattern.');\n}\n\nconst baseAt = String(incoming._baseAt || '');\nconst RETAIN_MS = 30*24*60*60*1000;\nconst nowMs = Date.now();\nfunction parse(s){ try { const a = JSON.parse(s == null ? '[]' : (String(s) || '[]')); return Array.isArray(a) ? a.filter(c => c && c.id) : []; } catch (e) { return []; } }\nfunction stamp(c){ return String((c && (c.updated_at || c.created_at)) || ''); }\nfunction mergeCell(existingStr, incomingStr){\n  const ex = parse(existingStr), inc = parse(incomingStr);\n  const incIds = new Set(inc.map(c => c.id));\n  const exById = new Map(ex.map(c => [c.id, c]));\n  const out = [];\n  for (const c of inc){ const e = exById.get(c.id); out.push(e && stamp(e) > stamp(c) ? e : c); }\n  for (const e of ex){\n    if (incIds.has(e.id)) continue;\n    if (e.deleted) { out.push(e); continue; }\n    const es = stamp(e);\n    if (!baseAt) { out.push(e); continue; }\n    if (es && es > baseAt) out.push(e);\n  }\n  const cutoff = nowMs - RETAIN_MS;\n  const kept = out.filter(function(c){ if (!c.deleted) return true; const t = Date.parse(c.updated_at || c.created_at || ''); return !(isFinite(t) && t < cutoff); });\n  return kept.length ? JSON.stringify(kept) : '';\n}\nconst row = Object.assign({}, incoming);\nfor (const col of ['video_tweaks','graphic_tweaks','caption_tweaks']){\n  if (Object.prototype.hasOwnProperty.call(incoming, col)) row[col] = mergeCell(existing[col], incoming[col]);\n}\nif (Object.prototype.hasOwnProperty.call(incoming, 'video_tweaks')) row.tweaks = row.video_tweaks;\n\n// Link-clobber guard: a full-card save from a stale or secondary client tab\n// can carry an empty graphic_linear_issue_id / linear_issue_id. Without this,\n// appendOrUpdate would overwrite a real saved Linear link with ''. Carry the\n// stored value forward whenever the incoming link is blank but one exists.\nfor (const linkCol of ['graphic_linear_issue_id','linear_issue_id']){\n  if (Object.prototype.hasOwnProperty.call(incoming, linkCol)\n      && String(incoming[linkCol] == null ? '' : incoming[linkCol]).trim() === ''\n      && String(existing[linkCol] == null ? '' : existing[linkCol]).trim() !== '') {\n    row[linkCol] = existing[linkCol];\n  }\n}\nreturn [{ json: row }];"}},
    {"id":"69ebe36c-94a9-4b80-b03d-10bb0887adba","name":"Strip Routing","type":"n8n-nodes-base.code","typeVersion":2,"position":[896,0],"parameters":{"mode":"runOnceForEachItem","jsCode":"const j = $input.item.json;\nconst out = {};\nfor (const k of Object.keys(j)) {\n  if (k.charAt(0) === '_') continue;\n  out[k] = j[k];\n}\nreturn { json: out };"}},
    {"id":"fbdd80f3-2efa-4876-9051-49cc4ee01a49","name":"Upsert Calendar Row","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1120,0],"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"mode":"id","value":"1Gsn5xLImJyMhBMCNjK_tigpoUfcSFnvxTQLkk-A9Yps"},"sheetName":{"__rl":true,"mode":"name","value":"={{ $(\"Build Row From Patch\").item.json._sheetName }}"},"columns":{"mappingMode":"autoMapInputData","matchingColumns":["id"],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"cellFormat":"RAW","handlingExtraData":"insertInNewColumn"}}},
    {"id":"a54b4e6d-7afc-4d12-a2a6-f76b4d44464a","name":"Wrap Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1344,0],"parameters":{"jsCode":"const j = ($input.first() && $input.first().json) || {};\nconst post = j || {};\nreturn [{ json: { ok: true, post } }];"}},
    {"id":"35ded630-17a5-43c8-8d7b-00f74b9c1a0d","name":"Respond JSON","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1568,0],"parameters":{"options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"},{"name":"Cache-Control","value":"no-store"}]}}}}
  ]
}
