n8n-backups/samples-upsert.2026-06-15.pre-supabase.json
{
  "_snapshot": "SyncView Samples — Upsert (23jv00ihCX75TjaB), LIVE active version captured 2026-06-15 immediately before adding the Supabase dual-write mirror. activeVersionId cd7026c0-e4a3-48f9-8c77-7061ffdbbed2. n8n's own version history is the authoritative rollback; this is a convenience reference.",
  "id": "23jv00ihCX75TjaB",
  "name": "SyncView Samples — Upsert",
  "active": true,
  "description": "POST /webhook/samples-upsert. Body {client, sample}. Upserts a row into Samples_<slug> by id with a phantom-row guard and a 3-way tombstone-aware merge on the comments column. Persists approval (Kasper→Client) fields. Archives via status=Archived.",
  "settings": { "executionOrder": "v1" },
  "connections": {
    "Receive POST": { "main": [[{ "node": "Build Row From Patch", "type": "main", "index": 0 }]] },
    "Build Row From Patch": { "main": [[{ "node": "Read Existing Row", "type": "main", "index": 0 }]] },
    "Read Existing Row": { "main": [[{ "node": "Merge Comments", "type": "main", "index": 0 }]] },
    "Merge Comments": { "main": [[{ "node": "Strip Routing", "type": "main", "index": 0 }]] },
    "Strip Routing": { "main": [[{ "node": "Upsert Samples Row", "type": "main", "index": 0 }]] },
    "Upsert Samples Row": { "main": [[{ "node": "Wrap Response", "type": "main", "index": 0 }]] },
    "Wrap Response": { "main": [[{ "node": "Respond JSON", "type": "main", "index": 0 }]] }
  },
  "nodes": [
    { "name": "Receive POST", "type": "n8n-nodes-base.webhook", "typeVersion": 2.1, "position": [0, 0], "parameters": { "httpMethod": "POST", "path": "samples-upsert", "responseMode": "responseNode", "options": { "allowedOrigins": "*" } } },
    { "name": "Build Row From Patch", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [224, 0], "parameters": { "jsCode": "const ALLOWED = ['kind','order_index','label','media_url','creative_direction','hide_creative_direction','comments','status','created_at','approval','kasper_approved_at','kasper_approved_by','client_approved_at','client_approved_by'];\nconst body = ($input.first() && $input.first().json && $input.first().json.body) || {};\nconst client = String(body.client || '').trim();\nif (!client) throw new Error('client required');\nconst sample = body.sample || {};\nlet id = String(sample.id || '').trim();\nif (!id) { id = 's_' + Date.now().toString(36) + '_' + Math.random().toString(36).slice(2,8); }\nconst row = { id, updated_at: new Date().toISOString() };\nfor (const k of ALLOWED) {\n  if (Object.prototype.hasOwnProperty.call(sample, k)) {\n    const v = sample[k];\n    row[k] = v == null ? '' : String(v);\n  }\n}\nconst baseAt = String(body.comments_base_at || '');\nreturn [{ json: { ...row, _sheetName: 'Samples_' + client, _client: client, _baseAt: baseAt } }];" } },
    { "name": "Read Existing Row", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.7, "position": [448, 0], "alwaysOutputData": true, "onError": "continueRegularOutput", "parameters": { "documentId": { "__rl": true, "mode": "id", "value": "1Gsn5xLImJyMhBMCNjK_tigpoUfcSFnvxTQLkk-A9Yps" }, "sheetName": { "__rl": true, "mode": "name", "value": "={{ $(\"Build Row From Patch\").item.json._sheetName }}" }, "filtersUI": { "values": [{ "lookupColumn": "id", "lookupValue": "={{ $(\"Build Row From Patch\").item.json.id }}" }] }, "options": {} } },
    { "name": "Merge Comments", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [672, 0], "parameters": { "jsCode": "const incoming = $('Build Row From Patch').first().json;\nconst existingArr = $input.all();\nconst existing = (existingArr[0] && existingArr[0].json) || {};\n\nconst existsAlready = !!(existing && existing.id);\nconst CONTENT_FIELDS = ['label','media_url','creative_direction','comments'];\nconst hasContent = CONTENT_FIELDS.some(k => String(incoming[k] == null ? '' : incoming[k]).trim() !== '');\nif (!existsAlready && !hasContent) {\n  throw new Error('phantom-row guard: refusing to create a row in ' + (incoming._sheetName || '?') + ' with id ' + incoming.id + ' because the row does not exist and the payload has no substantive content.');\n}\n\nconst baseAt = String(incoming._baseAt || '');\nconst RETAIN_MS = 30*24*60*60*1000;\nconst nowMs = Date.now();\nfunction parse(s){ try { const a = JSON.parse(s == null ? '[]' : (String(s) || '[]')); return Array.isArray(a) ? a.filter(c => c && c.id) : []; } catch (e) { return []; } }\nfunction stamp(c){ return String((c && (c.updated_at || c.created_at)) || ''); }\nfunction mergeCell(existingStr, incomingStr){\n  const ex = parse(existingStr), inc = parse(incomingStr);\n  const incIds = new Set(inc.map(c => c.id));\n  const exById = new Map(ex.map(c => [c.id, c]));\n  const out = [];\n  for (const c of inc){ const e = exById.get(c.id); out.push(e && stamp(e) > stamp(c) ? e : c); }\n  for (const e of ex){\n    if (incIds.has(e.id)) continue;\n    if (e.deleted) { out.push(e); continue; }\n    const es = stamp(e);\n    if (!baseAt) { out.push(e); continue; }\n    if (es && es > baseAt) out.push(e);\n  }\n  const cutoff = nowMs - RETAIN_MS;\n  const kept = out.filter(function(c){ if (!c.deleted) return true; const t = Date.parse(c.updated_at || c.created_at || ''); return !(isFinite(t) && t < cutoff); });\n  return kept.length ? JSON.stringify(kept) : '';\n}\nconst row = Object.assign({}, incoming);\nif (Object.prototype.hasOwnProperty.call(incoming, 'comments')) row.comments = mergeCell(existing.comments, incoming.comments);\nreturn [{ json: row }];" } },
    { "name": "Strip Routing", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [896, 0], "parameters": { "mode": "runOnceForEachItem", "jsCode": "const j = $input.item.json;\nconst out = {};\nfor (const k of Object.keys(j)) { if (k.charAt(0) === '_') continue; out[k] = j[k]; }\nreturn { json: out };" } },
    { "name": "Upsert Samples Row", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.7, "position": [1120, 0], "parameters": { "operation": "appendOrUpdate", "documentId": { "__rl": true, "mode": "id", "value": "1Gsn5xLImJyMhBMCNjK_tigpoUfcSFnvxTQLkk-A9Yps" }, "sheetName": { "__rl": true, "mode": "name", "value": "={{ $(\"Build Row From Patch\").item.json._sheetName }}" }, "columns": { "mappingMode": "autoMapInputData", "matchingColumns": ["id"], "schema": [], "attemptToConvertTypes": false, "convertFieldsToString": true }, "options": { "cellFormat": "RAW", "handlingExtraData": "insertInNewColumn" } } },
    { "name": "Wrap Response", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1344, 0], "parameters": { "jsCode": "const j = ($input.first() && $input.first().json) || {};\nreturn [{ json: { ok: true, sample: j } }];" } },
    { "name": "Respond JSON", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.5, "position": [1568, 0], "parameters": { "options": { "responseHeaders": { "entries": [{ "name": "Access-Control-Allow-Origin", "value": "*" }, { "name": "Cache-Control", "value": "no-store" }] } } } }
  ]
}
