n8n-backups/samples-reorder.2026-06-15.pre-supabase.json
{
  "_snapshot": "SyncView Samples — Reorder (3WDxAYW23RBJTuFW), LIVE active version captured 2026-06-15 immediately before adding the Supabase dual-write mirror. activeVersionId 11df3892-ed62-4965-8727-590e9f56cf2a. n8n's own version history is the authoritative rollback; this is a convenience reference.",
  "id": "3WDxAYW23RBJTuFW",
  "name": "SyncView Samples — Reorder",
  "active": true,
  "description": "POST /webhook/samples-reorder. Body {client, items[{id,order_index}]}. Uses Google Sheets update (not appendOrUpdate) so unknown ids are silently skipped instead of creating phantom rows in Samples_<slug>.",
  "settings": { "executionOrder": "v1" },
  "connections": {
    "Receive POST": { "main": [[{ "node": "Fan Out Reorder Items", "type": "main", "index": 0 }]] },
    "Fan Out Reorder Items": { "main": [[{ "node": "Strip Routing", "type": "main", "index": 0 }]] },
    "Strip Routing": { "main": [[{ "node": "Update Order Index", "type": "main", "index": 0 }]] },
    "Update Order Index": { "main": [[{ "node": "Wrap Response", "type": "main", "index": 0 }]] },
    "Wrap Response": { "main": [[{ "node": "Respond JSON", "type": "main", "index": 0 }]] }
  },
  "nodes": [
    { "name": "Receive POST", "type": "n8n-nodes-base.webhook", "typeVersion": 2.1, "position": [0, 0], "parameters": { "httpMethod": "POST", "path": "samples-reorder", "responseMode": "responseNode", "options": { "allowedOrigins": "*" } } },
    { "name": "Fan Out Reorder Items", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [224, 0], "parameters": { "mode": "runOnceForAllItems", "jsCode": "const body = ($input.first() && $input.first().json && $input.first().json.body) || {};\nconst client = String(body.client || '').trim();\nif (!client) throw new Error('client required');\nconst items = Array.isArray(body.items) ? body.items : [];\nif (items.length === 0) throw new Error('items[] required');\nconst sheetName = 'Samples_' + client;\nconst now = new Date().toISOString();\nreturn items.map(it => {\n  const id = String(it.id || '').trim();\n  if (!id) throw new Error('every item needs an id');\n  const order_index = Number(it.order_index);\n  if (!Number.isFinite(order_index)) throw new Error('every item needs a numeric order_index');\n  return { json: { id, order_index: String(order_index), updated_at: now, _sheetName: sheetName, _client: client } };\n});" } },
    { "name": "Strip Routing", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [448, 0], "parameters": { "mode": "runOnceForEachItem", "jsCode": "const j = $input.item.json;\nconst out = {};\nfor (const k of Object.keys(j)) { if (k.charAt(0) === '_') continue; out[k] = j[k]; }\nreturn { json: out };" } },
    { "name": "Update Order Index", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.7, "position": [672, 0], "parameters": { "resource": "sheet", "operation": "update", "documentId": { "__rl": true, "mode": "id", "value": "1Gsn5xLImJyMhBMCNjK_tigpoUfcSFnvxTQLkk-A9Yps" }, "sheetName": { "__rl": true, "mode": "name", "value": "={{ $(\"Fan Out Reorder Items\").item.json._sheetName }}" }, "columns": { "mappingMode": "autoMapInputData", "matchingColumns": ["id"], "schema": [], "attemptToConvertTypes": false, "convertFieldsToString": true }, "options": { "cellFormat": "RAW", "handlingExtraData": "ignoreIt" } } },
    { "name": "Wrap Response", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [896, 0], "parameters": { "mode": "runOnceForAllItems", "jsCode": "const items = $input.all();\nreturn [{ json: { ok: true, updated: items.length } }];" } },
    { "name": "Respond JSON", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.5, "position": [1120, 0], "parameters": { "options": { "responseHeaders": { "entries": [{ "name": "Access-Control-Allow-Origin", "value": "*" }, { "name": "Cache-Control", "value": "no-store" }] } } } }
  ]
}
